<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="../../build/app.4c45a463.css">
            <link rel="stylesheet" href="../../css/config.css">
            <link rel="stylesheet" href="../../css/admin.css">
        {% endblock %}


    </head>
    <body>
        {% block header %}
            <header class="position-fixed w-100 h-55p d-flex justify-content-between shadow align-items-center bg-dark">
                <div class="column w-25"></div>
                <ul class="column w-75 d-flex justify-content-around align-items-center text-light h-100 my-0">
                    <li><a class="text-white" href="{{ path('category_index') }}">Категории</a></li>
                    <li><a class="text-white" href="{{ path('product_index') }}">Товары</a></li>
                    <li><a class="text-white" href="{{ path('news_index') }}">Новости</a></li>
                    <li><a class="text-white" href="{{ path('order_index') }}">Заказы</a></li>
                    <li><a class="text-white" href="{{ path('main')}}">В магазин</a></li>
                    <li><a class="text-white" href="{{ path('app_logout')}}">Выйти</a></li>
                </ul>
            </header>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
