<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="../build/app.4c45a463.css">
            <link rel="stylesheet" href="../css/config.css">
            <!-- Bootstrap fremwork main css -->
            <link rel="stylesheet" href="../css/bootstrap.min.css">
            <!-- Owl Carousel main css -->
            <link rel="stylesheet" href="../css/style-login.css">

            <link rel="stylesheet" href="../css/core.css">
            <!-- Theme shortcodes/elements style -->
            <link rel="stylesheet" href="../css/shortcode/shortcodes.css">
            <!-- Theme main style -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap" rel="stylesheet">
        {% endblock %}


    </head>
    <body>
    {% block header %}
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header header--3 bg__white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                            <div class="logo">
                                <a href="{{ path('main') }}">
                                    <img src="images/logo/logo4.png" alt="logo11">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                            <nav class="mainmenu__nav hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li><a href="{{ path('main') }}">Главная</a></li>
                                    <li><a href="{{ path('news') }}">Новости</a></li>
                                    <li><a href="{{ path('contacts') }}">Контакты</a></li>
                                    <li><a href="{{ path('catalog') }}">Каталог</a></li>
                                    <li><a href="{{ path('question') }}">Вопрос-ответ</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li><a href="{{ path('main') }}">Главная</a></li>
                                        <li><a href="{{ path('news') }}">Новости</a></li>
                                        <li><a href="{{ path('contacts') }}">Контакты</a></li>
                                        <li><a href="{{ path('catalog') }}">Каталог</a></li>
                                        <li><a href="{{ path('question') }}">Вопрос-ответ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- End Mainmenu Ares -->
                        <div class="col-md-2 col-sm-4 col-xs-3">
                            <ul class="menu-extra">
                                <li class="search search__open hidden-xs"><span class="ti-search"></span></li>
                                <li class="cart__menu"><a href="{{ path('cart') }}"><span class="ti-shopping-cart"></span></a></li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="{{ path('customer') }}"><span class="ti-user"></span></a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('product_index') }}"><span class="ti-hummer"></span></a></li>
                                    {% endif %}
                                    <li><a href="{{ path('app_logout') }}"><span class="ti-agenda"></span></a></li>
                                {% else %}
                                    <li><a href="{{ path('app_login') }}"><span class="ti-user"></span></a></li>
                                {% endif %}
                                <li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->
        {% endblock %}
        {% block search %}
            <!-- Start Offset Wrapper -->
            <div class="offset__wrapper">
                <!-- Start Search Popap -->
                <div class="search__area">
                    <div class="container" >
                        <div class="row" >
                            <div class="col-md-12" >
                                <div class="search__inner">
                                    <form action="{{ path('catalogSearch') }}" method="get">
                                        <input name="search" placeholder="Поиск... " type="text" required minlength="3">
                                        <button type="submit"></button>
                                    </form>
                                    <div class="search__close__btn">
                                        <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Search Popap -->
                <!-- Start Offset MEnu -->
                <div class="offsetmenu">
                    <div class="offsetmenu__inner">
                        <div class="offsetmenu__close__btn">
                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                        </div>
                        <div class="off__contact">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="images/logo/logo4.png" alt="logo">
                                </a>
                            </div>
                            <p>Не теряйте нас из виду!</p>
                        </div>
                        <div class="offset__sosial__share">
                            <h4 class="offset__title">Подпишитесь на наши соц. сети</h4>
                            <ul class="off__soaial__link">
                                <li><a class="bg--twitter" href="#"  title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>

                                <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                                <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                                <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                                <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Offset MEnu -->
            </div>
            <!-- End Offset Wrapper -->
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <!-- jquery latest version -->
            <script src="../js/vendor/jquery-1.12.0.min.js"></script>
            <!-- Bootstrap framework js -->
            <script src="../js/bootstrap.min.js"></script>
            <!-- All js plugins included in this file. -->
            <script src="../js/plugins.js"></script>
            <script src="../js/slick.min.js"></script>
            <script src="../js/owl.carousel.min.js"></script>
            <!-- Waypoints.min.js. -->
            <script src="../js/waypoints.min.js"></script>
            <!-- Main js file that contents all jQuery plugins activation. -->
            <script src="../js/main.js"></script>
        {% endblock %}
</html>
