{% extends 'main.html.twig' %}

{% block title %}Cart{% endblock %}


{% block body %}

    {% set totalPrice = 0 %}
    {% set count = 0 %}
    <!-- cart-main-area start -->
    <div class="cart-main-area ptb--120 bg__white my-3">
        <div class="container">
            <div class="row my">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Товар</th>
                                    <th class="product-name">Наименование</th>
                                    <th class="product-price">Цена</th>
                                    <!--<th class="product-quantity">Срок аренды (мес.)</th>-->
                                    <th class="product-quantity">Итого</th>
                                    <th class="product-remove">Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                    {% if product.id in data %}
                                        {% set count = data|filter(v => v == product.id)|length %}
                                        <tr>
                                            <td class="product-thumbnail"><a href="#"><img src="{{ product.image }}" alt="product img" /></a></td>
                                            <td class="product-name"><a href="#">{{ product.title }}</a></td>
                                            <td class="product-price"><span class="amount">{{ product.price }} BYN</span></td>
                                            <!--<td class="product-quantity">
                                                <div class="box d-flex align-items-center justify-content-around">
                                                    <input type="number" value="{{ count }}" min="1"  max="12" class="form-control product-count" />
                                                    <a href="" class="btn btn-secondary">Обновить</a>
                                                    <input type="hidden" class="hidden-link" value="{{ path('cart') }}/editCart/{{ product.id }}/">
                                                </div>
                                            </td>-->
                                            <td class="product-subtotal">{{ product.price * count }}</td>
                                            <td class="product-remove"><a href="{{ path('cart') }}/removefromcart/{{ product.id }}">X</a></td>
                                        </tr>
                                        {% set totalPrice = totalPrice + product.price * count %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    <a href="{{ path('main') }}">Продолжить покупки</a>
                                </div>
{#                                <div class="coupon">#}
{#                                    <h3>Купон</h3>#}
{#                                    <p>Введите ваш купон для получения скидки</p>#}
{#                                    <input type="text" placeholder="Купон" />#}
{#                                    <input type="submit" value="Применить купон" />#}
{#                                </div>#}
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">
                                    <h2>Итого</h2>
                                    <br>
                                    <table>
                                        <tbody>
                                        <tr class="cart-subtotal">
                                        </tr>
                                        <tr class="shipping">
                                            <th>Способ доставки:</th>
                                            <td><br>
                                                <ul id="shipping_method">
                                                    <li>
                                                        <input type="radio" name="shipping_method" checked value="free" />

                                                        <label>
                                                            Бесплатно
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="shipping_method" value="self-pickup" />
                                                        <label>
                                                            Самовывоз
                                                        </label>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>К оплате</th>
                                            <td>
                                                <strong><span class="amount">{{ totalPrice }} BYN</span></strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a href="{{ path('checkout') }}">Перейти к заказу</a>
                                        {% else %}
                                            <a href="{{ path('app_register') }}">Зарегестрироваться</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- cart-main-area end -->
    <script src="../../js/jquery-3.5.1.min.js"></script>

    <script>
        $(window).on('load', function () {
            $('.btn-secondary').hide()
        });

        $('.form-control').on('keyup change', function() {
            let parent =  $(this).parent();
            parent.children('.btn-secondary').show(300).attr('href', parent.children('.hidden-link').val() + '' + parent.children('.product-count').val());
        })
    </script>

{% endblock %}


