{% extends 'admin.html.twig' %}

{% block title %}Товары{% endblock %}

{% block body %}
    <h1 class="text-center my-3">Товары</h1>

    <a class="btn btn-lg btn-primary mx-auto mt-5 d-block w-25" href="{{ path('product_new') }}">Создать новый</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Изображение</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.LongDescription }}</td>
                {% if product.isActive%}
                <td class="text-success">Активен</td>
                {% else %}
                    <td class="text-danger">Выключен</td>
                {% endif %}
                <td>{{ product.date ? product.date|date('Y-m-d') : '' }}</td>
                <td><img src="../{{ product.image }}" alt="product" class="w-100"></td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Подробнее</a>
                    <br>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Редактировать</a>
                    <br>

                    {% if product.isActive%}
                        <a href="{{ path('product_change', {'id': product.id}) }}" class="text-danger">Выключить</a>
                    {% else %}
                        <a href="{{ path('product_change', {'id': product.id}) }}" class="text-success">Включить</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
